<main>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Contact Form</h1>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error *ngIf="getControl('name').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="
          getControl('name').hasError('minlength') &&
          !getControl('name').hasError('required')
        "
      >
        Name must be at least 2 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          getControl('email').hasError('email') &&
          !getControl('email').hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="getControl('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Subject</mat-label>
      <input matInput type="text" formControlName="subject" />
      <mat-error *ngIf="getControl('subject').hasError('required')">
        Subject is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="
          getControl('subject').hasError('minlength') &&
          !getControl('subject').hasError('required')
        "
      >
        Subject must be at least 5 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea
        matInput
        placeholder="Ex. 100 Main St"
        formControlName="message"
      >
      </textarea>
      <mat-error *ngIf="getControl('message').hasError('required')">
        Message is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="
          getControl('message').hasError('minlength') &&
          !getControl('message').hasError('required')
        "
      >
        Message must be at least 5 characters long.
      </mat-error>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" type="reset">Reset</button>
    </div>
  </form>
  <app-success-message
    *ngIf="!closeData"
    [data]="data"
    (closeEvent)="closeData = true"
  ></app-success-message>
</main>
